<!DOCTYPE html>
<html class="h-full">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'header.html' %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <script src="{{url_for('static', filename='js/base.js')}}"></script>
    {% block header %}{% endblock %}
  </head>

  {% block styles %}{% endblock %}

  <body class="h-full min-h-screen md:flex">
    {% block body %}{% endblock %}
  </body>

  {% block outside_body %}{% endblock %}
  {% block scripts %}{% endblock %}
</html>
